.content_container{
    max-width: 420px;
}
.amount_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.pricing p{
    font-size: 16px;
    color: #000;
}
.pricing_name p{
    font-weight: 500;
}
.pricing_name span{
    font-size: 14px;
}
.total_price p{
    font-size: 20px;
    color: #000;
}
.empty_cart_msg{
    font-size: 28px ;
    font-weight: 700;
    color: #dc3545;
    text-align: center;
    margin-bottom: 0;
}
.emoji{
    font-size: 80px !important;
}

.empty_cart_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart_bts_container{
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 600px) {
    .content_container{
       margin: 0 auto;
    }
  }